<h1>Book detail</h1>
<div>
<%= link_to book_path do %>
<%= image_tag @user.get_image(100,100) %>
<% end %>
<%= link_to @user.name %>
</div>
<div>
<%= link_to @book.title %>
<%= @book.opinion %>
</div>